body {
	background-color: black;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1 {
	color: #FFFFFF;
	font-size: 100px;
}

.container {
	width: 1000px;
}

.header {
	padding: 0;
	width: 1000px;
	height: 300px;
	text-align: left;
	margin: 0 auto;
	background-image: url(../img/header.jpeg);
	background-size: 1000px 474px;
}
.header h1 {
	position: relative;
	top: 200px;
	left: 10px;
}

.header img {
	width: 100%;
}

.content {
	margin: 20px auto;
	width: 1000px;
	text-align: center;
}

.music iframe {
	margin: 0 auto;
}

.row {
	width: 1000px;
}

.leftContent {
	color: white;
	text-align: left;
}

.nav {
	margin-bottom: 35px;
}
.nav li {
	margin-right: 15px;
}
.nav li a {
	font-size: 24px;
	color: white;
}
.nav li a:hover {
	background-color:white;
	color:#555555;
}
.nav li.active a,
.nav li.active a:hover,
.nav li.active a:focus {
	background-color:white;
	color:#555555;
}

.socialLinks {
	margin-bottom: 20px;
}
.player {
	margin-bottom: 20px;
}

.gridThumbnail {
	width: 180px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.footer {
	margin: 40px auto;
	width: 1000px;
	text-align: center;
}