body {
	background-color: #151515;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1 {
	color: #FFFFFF;
	font-size: 100px;
}

.container {
	width: 1000px;
}

.header {
	padding: 0;
	width: 1000px;
	height: 300px;
	text-align: left;
	margin: 0 auto;
	background-image: url(../img/header.jpeg);
	background-size: 1000px 474px;
}
.header h1 {
	position: relative;
	top: 200px;
	left: 10px;
}

.header img {
	width: 100%;
}

.content {
	margin: 20px auto;
	width: 1000px;
	text-align: center;
}

.music iframe {
	margin: 0 auto;
}

.row {
	width: 1000px;
}

.leftContent {
	color: white;
	text-align: left;
}

.nav {
	margin-bottom: 35px;
}
.nav li {
	margin-right: 15px;
}
.nav li a {
	font-size: 24px;
	color: white;
}
.nav li a:hover {
	background-color:white;
	color:#555555;
}
.nav li.active a,
.nav li.active a:hover,
.nav li.active a:focus {
	background-color:white;
	color:#555555;
}

.contentSection iframe {
	margin: 20px auto;
}

.socialLinks {
	position: relative;
	left: 815px;
	top: 200px;
}
.socialLinks img {
	width: 40px;
	height: 40px;
}

.player {
	margin-bottom: 20px;
}

.gridThumbnail {
	width: 180px;
	height: 180px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
	border: 4px solid white;
	background-position: center center;
}

.footer {
	margin: 40px auto;
	width: 1000px;
	text-align: center;
}

#mc_embed_signup {
	color: white;
	background-color: #333333;
	padding-bottom:5px;
	margin-bottom:20px;
}
#mc_embed_signup form {
	margin-bottom:10px;
}
#mc_embed_signup p {
	text-align: left;
	padding: 10px;
	margin: 0;
}

.mc-field-group {
	margin-left: 10px;
	text-align: left;
	margin-bottom:0;
}
.mc-field-group input {
	height: 30px;
}

.playSampler {
	margin: 0 auto;
	width: 256px;
	height: 256px;
	background-image: url(../img/play.jpg);
	background-size: 256px 256px;
}
.playSampler p {
	text-decoration: none;
	text-align: center;
	font-size: 36;
	line-height: 1;
}
.playSamplerLink, .playSamplerLink:hover {
	text-decoration: none;
	color: white;
}
.playSamplerLink:hover .playSampler {
	background-image: url(../img/play-hover.jpg);
}
