<div class="bio contentSection" style="display:none;">
	<p>
		Combinator is...
	</p>
	<p>
		Isaac Chirino - Drums, Vocals<br/>
		Sean Fairchild - Bass, Lead Vocals<br/>
		Greg Pascale - Guitar, Vocals, Website creation (Sean sucks!)
	</p>
</div>