<div class="home contentSection">
  <p>
    Combinator is a Seattle-based, soulful, funky rock band.
  </p>
  <p>
    Combinator wants you, and takes what it wants. 

    It will aurally seduce you with its sticky tendrils of funk and soul, pound your chest while spanking your butt with its punishing rock sensibility, and awaken your palette with its savory, worldly flavors. For out of the depths of the murky bog of stank which the forebearers did create many years ago, has crawled Combinator - the harbinger of vice and passion. 
  </p>
  <p>
    Combinator is coming, and there will be no mind, body, or spirit left unmoved.
  </p>
  <iframe width="600" height="450" src="//www.youtube.com/embed/TTIjKjSsWFU" frameborder="0" allowfullscreen></iframe>
</div>