<div class="music contentSection" style="display:none;">
	We just finished recording our first EP, <strong>Vice and Passion</strong>. Listen below or head on over to our <a href="http://combinator.bandcamp.com">Bandcamp</a> page to download it for a nominal fee.
	<iframe style="border: 0; width: 350px; height: 593px;" src="http://bandcamp.com/EmbeddedPlayer/album=336232476/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://combinator.bandcamp.com/album/vice-passion">Vice &amp; Passion by Combinator</a></iframe>
</div>