<div class="news contentSection" style="display:none;">
	<p> Combinator has several upcoming shows. Check out our <a href="http://www.songkick.com/artists/6097809">Songkick</a> page for details.
	</p>
</div>